/* 10th Gen iPad Media Query for portrait orientation */
@media only screen and (max-width: 2360px) and (orientation: portrait) {

    .top-border {
        max-height: 14%;
    }

    .second-top-border {
        max-height: 12%;
    }

    .third-top-border {
        max-height: 10%;
    }

    .bottom-border {
        max-height: 14%;
    }

    .second-bottom-border {
        max-height: 12%;
    }

    .third-bottom-border {
        max-height: 10%;
    }

    .bundy-container {
        width: 75%;
        height: 62vh;
        left: 52%;
    }

    .bundy-container-two {
        width: 80%;
        height: 64vh;
        left: 49%;
    }

    .forms-container {
        width: 100%;
        max-height: 30%;
        padding: 10px;
        top: 30%;
        left: 29%;
    }

    .current-time {
        font-size: 55px;
        top: 5%;
        left: 28%;
    }

    .current-day-date {
        font-size: 22px;
        top: 19%;
        left: 29%;
    }

    .fieldset-forms {
        height: 70%;
        width: 95%;
        border-radius: 15px;
        border-color: #65657b;
        outline: 0;
        max-width: 100%;
        padding-top: 0%;
        padding-left: 11%;
        padding-bottom: 0%;
    }

    .numpad-container {
        max-width: 27%;
        max-height: 15%;
        left: 25%;
        top: 70%;
    }

    .input-container {
        bottom: 17%;
        height: 50px;
        position: relative;
        width: 100%;
        z-index: inherit;
    }

    .ic1 {
        margin-top: 10%;
        z-index: inherit;
    }

    .input {
        background-color: #ffffff;
        border-radius: 15px;
        border: 2px, #65657b;
        box-sizing: border-box;
        font-size: 18px;
        height: 100%;
        width: 100%;
        padding-left: 15px;
        width: 100%;
    }

    .submit {
        font-size: 18.5px;
        height: 50px;
        margin-top: 25px;
        width: 100%;
    }

    .numpad {
        display: grid;
        grid-template-columns: repeat(6, auto);
        gap: 10px;
        padding: 10px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.5);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

    .numpad-container {
        width: auto;
        max-height: auto;
        left: 17%;
        top: 73%;
        z-index: 50;
    }

    .digit {
        font-size: 22px;
        max-width: 50px;
        max-height: 50px;
    }

    .numpad {
        display: grid;
        width: 350px;
        grid-template-columns: repeat(6, auto);
        gap: 10px;
        padding: 10px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.5);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

        .numpad button.switch-key {
            grid-column: 5;
        }

        .numpad button.digit:nth-child(11) {
            grid-column: 4;
            grid-row: 2;
        }

        .numpad button.digit.del {
            grid-column: 6;
        }

    .switch-key {
        font-size: 17px;
        max-width: 50px;
        max-height: 50px;
    }

    .digit-del {
        font-size: 17px;
        max-width: 50px;
        max-height: 50px;
    }

    .keypad-container {
        background-color: #ffffff;
        border-radius: 10px;
        position: fixed;
        top: 72%;
        left: 14%;
        z-index: inherit;
        height: 20%;
        width: 73.5%;
    }

    .keypad {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        gap: 2px;
        background-color: rgba(255, 255, 255, 0.5);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

    .keypad-letter {
        width: 45px;
        height: 45px;
        border: none;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.5);
        color: #000;
        font-size: 17px;
        cursor: pointer;
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5) inset;
        margin-bottom: 5px;
        margin-right: 2px;
    }

    .switch-key-abc {
        width: 45px;
        height: 45px;
        border: none;
        border-radius: 10px;
        background-color: rgba(0, 0, 255, 0.5);
        color: #fff;
        font-size: 14px;
        cursor: pointer;
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
        box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
    }
}

/* 10th Gen iPad Media Query for landscape orientation */
@media only screen and (max-width: 1200px) and (orientation: landscape) {

    .top-border {
        max-height: 16%;
    }

    .second-top-border {
        max-height: 14%;
    }

    .third-top-border {
        max-height: 12%;
    }

    .bottom-border {
        max-height: 16%;
    }

    .bundy-container {
        width: 65%;
        height: 60vh;
    }

    .bundy-container-two {
        width: 70%;
        height: 62vh;
    }

    .fieldset-forms {
        height: 75%;
        border-radius: 15px;
        border-color: #65657b;
        outline: 0;
        max-width: 100%;
        padding-top: 1%;
        padding-left: 11%;
        padding-bottom: 0%;
    }

    .time-in,
    .lunch-in {
        height: 30px;
        max-width: 45%;
        background-color: #32CD32;
        border-radius: 18px;
        border: 0;
        box-sizing: border-box;
        color: #eee;
        cursor: pointer;
        font-size: 14px;
        text-align: center;
        width: 100%;
        z-index: inherit;
        border-radius: 25px;
    }

    .time-out,
    .lunch-out {
        height: 30px;
        max-width: 45%;
        background-color: #D22B2B;
        border-radius: 18px;
        border: 0;
        box-sizing: border-box;
        color: #eee;
        cursor: pointer;
        font-size: 14px;
        text-align: center;
        width: 100%;
        z-index: inherit;
        border-radius: 25px;
    }

    .numpad-container {
        left: 63%;
        top: 25%;
    }

    .current-time {
        font-size: 45px;
        top: 0.1%;
        left: 17.1%;
    }

    .current-day-date {
        font-size: 19px;
        top: 18%;
        left: 16.5%;
    }

    .forms-container {
        width: 60%;
        max-height: 50%;
        padding: 10px;
        top: 29%;
        left: 10.5%;
    }

    .fieldset-forms {
        height: 85%;
        padding-bottom: 3%;
    }

    .keypad-container {
        left: 53%;
    }

    .switch-key {
        margin: auto;
        font-size: 15.5px;
        max-width: 50px;
        max-height: 50px;
    }

    .digit-del {
        margin: auto;
        max-width: 50px;
        max-height: 50px;
    }
}
