@page "/"
@rendermode InteractiveServer

<PageTitle>NWPC Bundy Clock</PageTitle>

<div class="background-container">

    <!-- NWPC Logo -->
    <img src="images/nwpc-logo-for-header.png" class="nwpc-banner" alt="NWPC Logo">

    <img src="images/draft4.png" class="bundy-draft" alt="Bundy Draft">

    <!-- Objects for Top part of the web app -->
    <div class="top-border"></div>
    <div class="second-top-border"></div>
    <div class="third-top-border"></div>
    <!-- End of Objects for Top part -->

    <div class="bundy-container"></div>
    <div class="bundy-container-two"></div>

    <!-- Objects for Bottom part of the web app -->
    <div class="bottom-border"></div>
    <div class="second-bottom-border"></div>
    <div class="third-bottom-border"></div>
    <!-- End of Objects for Bottom part -->

    <div class="numpad-container">
        <div class="numpad">
            <button class="digit">1</button>
            <button class="digit">2</button>
            <button class="digit">3</button>
            <button class="digit">4</button>
            <button class="digit">5</button>
            <button class="digit">6</button>
            <button class="digit">7</button>
            <button class="digit">8</button>
            <button class="digit">9</button>
            <button class="digit">Del</button>
            <button class="digit">0</button>
            <button class="digit">abc</button>

        </div>
    </div>

    <div class="forms-container">
        <fieldset class="fieldset-forms">
            <legend style="font-family: sans-serif">Select a Bundy type:</legend>
        </fieldset>
        <div class="input-container ic1">
            <input id="IDnumber" class="input" type="text" placeholder=" " />
            <div class="cut"></div>
            <label for="IDnumber" class="placeholder">ID Number</label>
        </div>
        <button type="text" class="submit">Submit</button>
</div>

</div>

@code {

}