@page "/"
@rendermode InteractiveServer

<PageTitle>NWPC Bundy Clock</PageTitle>

<div class="background-container">

    <!-- NWPC Logo -->
    <img src="images/nwpc-logo-for-header.png" class="nwpc-banner" alt="NWPC Logo">

    <!-- Objects for Top part of the web app -->
    <div class="top-border"></div>
    <div class="second-top-border"></div>
    <div class="third-top-border"></div>
    <!-- End of Objects for Top part -->

    <div class="bundy-container"></div>
    <div class="bundy-container-two"></div>

    <!-- Objects for Bottom part of the web app -->
    <div class="bottom-border"></div>
    <div class="second-bottom-border"></div>
    <div class="third-bottom-border"></div>
    <!-- End of Objects for Bottom part -->

    <div class="numpad-container">
        <div class="numpad">
            <button class="digit">1</button>
            <button class="digit">2</button>
            <button class="digit">3</button>
            <button class="digit">4</button>
            <button class="digit">5</button>
            <button class="digit">6</button>
            <button class="digit">7</button>
            <button class="digit">8</button>
            <button class="digit">9</button>
            <button class="digit">Del</button>
            <button class="digit">0</button>
            <button class="digit">abc</button>

        </div>
    </div>

    <div class="current-date-time" id="currentDateTime"></div>

    <!-- JavaScript code to continuously update date and time -->
    <script>
        // Get the current date and time and update the displayed time
        function updateDateTime() {
            var currentDate = new Date();
            var dateString = currentDate.toLocaleDateString();
            var timeString = currentDate.toLocaleTimeString();
            var dateTimeString = dateString + ' ' + timeString;

            // Display the current date and time
            document.getElementById('currentDateTime').innerText = dateTimeString;
        }

        // Update the displayed time every second
        setInterval(updateDateTime, 1000);

        // Call the function once immediately to display the initial time
        updateDateTime();
    </script>

    <!-- Forms for Bundy Selection and ID -->
    <div class="forms-container">
        <fieldset class="fieldset-forms">
            <legend style="color: #65657b; font-family: Arial, sans-serif;">Select Bundy Type:</legend>
        </fieldset>
        <div class="input-container ic1">
            <input id="employeeID" class="input" type="text" placeholder=" " />
            <div class="cut"></div>
            <label for="employeeID" class="placeholder">Employee ID</label>
        </div>
        <button type="text" class="submit">Submit</button>
    </div>

</div>

@code {


}
