@page "/"

<PageTitle>NWPC Bundy Clock</PageTitle>

<div class="background-container">

    <!-- NWPC Logo -->
    <img src="images/nwpc-logo-for-header.png" class="nwpc-banner" alt="NWPC Logo">

    <!-- Objects for Top part of the web app -->
    <div class="top-border"></div>
    <div class="second-top-border"></div>
    <div class="third-top-border"></div>
    <div class="leftmost-object"></div>
    <div class="leftmost-object-2"></div>
    <div class="leftmost-object-3"></div>
    <!-- End of Objects for Top part -->

    <div class="bundy-container"></div>

    <!-- Objects for Bottom part of the web app -->
    <div class="bottom-border"></div>
    <div class="second-bottom-border"></div>
    <div class="third-bottom-border"></div>
    <div class="rightmost-object"></div>
    <!-- End of Objects for Bottom part -->

</div>

