@page "/"

<PageTitle>NWPC Bundy Clock</PageTitle>

<div class="background-container">

    <!-- NWPC Logo -->
    <img src="images/nwpc-logo-for-header.png" class="nwpc-banner" alt="NWPC Logo">

    <img src="images/draft2.png" class="bundy-draft" alt="Bundy Draft">
    <img src="images/money.gif" class="gif-test" alt="GIF Test">

    <!-- Objects for Top part of the web app -->
    <div class="top-border"></div>
    <div class="second-top-border"></div>
    <div class="third-top-border"></div>
    <!-- End of Objects for Top part -->

    <div class="bundy-container"></div>
    <div class="bundy-container-two"></div>

    <!-- Objects for Bottom part of the web app -->
    <div class="bottom-border"></div>
    <div class="second-bottom-border"></div>
    <div class="third-bottom-border"></div>
    <!-- End of Objects for Bottom part -->

</div>

